* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: sans-serif; */
  background-image: url('sf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.app-wrap {
  display: flex;
  flex-direction: row;
  min-height: 150vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

 .hello{
  position: initial;
  /* width: 723px;
  height: 48px;
  left: 356px;
  top: 180px; */
  
  font-family: Red Rose;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 30px;
  text-align: center;
  
  color: #FFFFFF;
  margin-bottom: 10px;
}

.city {
  position: initial;
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
  margin-top: 20px;
}

.current{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 5px inset #1C6EA4;
  border-radius: 23px;
  background: rgba(88,176,237,0.7)
}

.current .date {
  position: initial;
  width: 966px;
  height: 115px;
  left: 288px;
  top: 36px;

  font-family: Red Rose;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 90px;

  color: #FFFFFF;
}

.current .temp {
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  /* margin: 30px 0px; */
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  color: #FFF;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}
.weekly {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px inset #1C6EA4;
  border-radius: 23px;
  background: rgba(88,176,237,0.7)
}

.weekly .week_view {
  font-family: Red Rose;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 90px;

  color: #FFFFFF;
}

div.weeklyView {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border: 0px solid #555555;
  background-color: #7DA2C6;
  width: 400px;
  text-align: center;
  border-collapse: collapse;
}
.divTable.weeklyView .divTableCell, .divTable.weeklyView .divTableHead {
  border: 0px solid #555555;
  padding: 6px 10px;
}
.divTable.weeklyView .divTableBody .divTableCell {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}
.divTable.weeklyView .divTableRow:nth-child(even) {
  background: #9D9CA4;
}
.divTable.weeklyView .divTableCell:nth-child(even) {
  background: #7DA2C6;
}
.divTable.weeklyView .divTableHeading {
  background: #3A6CA4;
  border-bottom: 3px solid #398AA4;
}
.divTable.weeklyView .divTableHeading .divTableHead {
  font-size: 50px;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #7DA2C6;
}
.divTable.weeklyView .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.weeklyView .tableFootStyle {
  font-size: 13px;
}
.weeklyView .tableFootStyle .links {
	 text-align: right;
}
.weeklyView .tableFootStyle .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #398AA4;
  padding: 2px 8px;
  border-radius: 5px;
}
.weeklyView.outerTableFooter {
  border-top: none;
}
.weeklyView.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}